<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maso的萬事屋LINEBOT範例</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        //==========================LIFF API初始化================================
        $(document).ready(function() {
            liff.init({
                liffId: "1657173800-nQWeLeO7"
            });
        });
        //==========================LIFF API初始化================================

        function liff_getOS() {
            var OS = liff.getOS();
            alert(OS);
        }

        function liff_getLanguage() {
            var Language = liff.getLanguage();
            alert(Language);
        }

        function liff_getVersion() {
            var Version = liff.getVersion();
            alert(Version);
        }

        function liff_getLineVersion() {
            var LineVersion = liff.getLineVersion();
            alert(LineVersion);
        }

        function liff_isInClient() {
            var InClient = liff.isInClient();
            if (InClient != true) {
                alert("未使用LIFF瀏覽器");
            } else {
                alert("已使用LIFF瀏覽器");
            }
        }

        function liff_isLoggedIn() {
            var isLoggedIn = liff.isLoggedIn();
            if (isLoggedIn != true) {
                alert("未登入LINE");
            } else {
                alert("已登入LINE");
            }
        }

        function liff_login() {
            liff.login({
                redirectUri: "https://maso-personal.herokuapp.com/",
            });
        }

        function liff_logout() {
            liff.logout();
        }

        function liff_getAccessToken() {
            var accessToken = liff.getAccessToken();
            alert(accessToken);
        }

        function liff_getIDToken() {
            var IDToken = liff.getIDToken();
            alert(IDToken);
        }

        function liff_getDecodedIDToken() {
            var DecodedIDToken = JSON.stringify(liff.getDecodedIDToken());
            alert(DecodedIDToken);
        }

        function liff_getContext() {
            var Context = JSON.stringify(liff.getContext());
            alert(Context);
        }

        function liff_getProfile() {
            liff
                .getProfile()
                .then((profile) => {
                    alert(JSON.stringify(profile));
                })
                .catch((err) => {
                    console.log("error", err);
                });
        }

        function liff_getFriendship() {
            var Friendship = liff.getFriendship();
            alert(Friendship);
        }

        function liff_sendMessages() {
            liff.sendMessages([{
                type: "text",
                text: "這一則訊息是來自LIFF網頁",
            }, ]);
            alert("LIFF傳送訊息");
        }

        function liff_openWindow() {
            // window.location.replace("https://developers.line.biz/en/reference/liff/")
            liff.openWindow({
                url: "https://developers.line.biz/en/reference/liff/",
                external: true,
            });
        }

        function liff_closeWindow() {
            liff.closeWindow();
        }

        function liff_shareTargetPicker() {
            liff.shareTargetPicker(
                [{
                    type: "image",
                    originalContentUrl: "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png",
                    previewImageUrl: "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png",
                }, ], {
                    isMultiple: true,
                }
            );
        }

        function liff_LINE_Card() {
            liff.shareTargetPicker(
                [{
                    type: "flex",
                    altText: "今日記帳",
                    contents: {
                        "type": "carousel",
                        "contents": [{
                            "type": "bubble",
                            "hero": {
                                "type": "image",
                                "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/01_1_cafe.png",
                                "size": "full",
                                "aspectRatio": "20:13",
                                "aspectMode": "cover",
                                "action": {
                                    "type": "uri",
                                    "uri": "http://linecorp.com/"
                                }
                            },
                            "body": {
                                "type": "box",
                                "layout": "vertical",
                                "contents": [{
                                    "type": "text",
                                    "text": "今日記帳",
                                    "weight": "bold",
                                    "size": "xl",
                                    "align": "center"
                                }, {
                                    "type": "box",
                                    "layout": "vertical",
                                    "margin": "lg",
                                    "spacing": "sm",
                                    "contents": []
                                }]
                            },
                            "footer": {
                                "type": "box",
                                "layout": "vertical",
                                "spacing": "sm",
                                "contents": [{
                                    "type": "button",
                                    "style": "link",
                                    "height": "sm",
                                    "action": {
                                        "type": "uri",
                                        "label": "按我填寫",
                                        "uri": "https://linecorp.com"
                                    }
                                }, {
                                    "type": "box",
                                    "layout": "vertical",
                                    "contents": [],
                                    "margin": "sm"
                                }],
                                "flex": 0
                            }
                        }]
                    }
                }], {
                    isMultiple: true,
                }
            );
        }

        function liff_isApiAvailable() {
            var apiName = "shareTargetPicker";
            var isApiAvailable = liff.isApiAvailable(apiName);
            if (isApiAvailable != true) {
                alert("無法使用" + apiName + " API");
            } else {
                alert("可以使用" + apiName + " API");
            }
        }
    </script>
    <style>
        * {
            font-size: 20px;
        }
        
        h1 {
            width: 80%;
            height: 40px;
            margin-left: 10%;
        }
        
        button {
            width: 150px;
            height: 40px;
            margin-left: 10%;
            background-color: #c9e8e3;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <h1>今日記帳</h1>
    <label for="m_class">請選擇收入或支出：</label>
    <input type="radio" id="m_class" name="m_class">
    <br>
    <label for="m_date">請選擇時間：</label>
    <input type="date" id="m_date" name="m_date">
    <br>
    <label for="m_type">請選擇類別：</label>
    <select name="type">
        <optgroup label="收入">
          <option>Tiger</option>
          <option>Leopard</option>
          <option>Lynx</option>
        </optgroup>
        <optgroup label="支出">
          <option>飲食</option>
          <option>交通</option>
          <option>居家</option>
          <option>服飾</option>
          <option>汽機車</option>
          <option>娛樂</option>
          <option>醫療保健</option>
        </optgroup>
    </select>
    <br>
    <input type="submit" value="確認">
    <br>
    <button onclick="liff_LINE_Card()">傳送LINE名片</button><br /><br />
</body>

</html>